<!doctype html>
<html lang="pt">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div class="container-fluid signup">
        <%- include('../partials/header')%>

        <div class="container-fluid d-flex justify-content-center before-signup">
            <div class=" box-signup">
                <div class="box-figure container">
                    <figure class="figure">
                        <img src="/icon/005-chef-hat-1.png" class="figure-img img-fluid rounded-0"
                            alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                    </figure>
                </div>

                <form>
                    <div class="form-group">
                        <input type="password" name="newpassword" class="form-control radio-first" id="newpasswordlogin"
                            placeholder="Nova password">
                    </div>
                    <div class="form-group">
                        <input type="password" name="repeatpassword" class="form-control radio-last" id="repeatpasswordlogin"
                            placeholder="Repetir password">
                    </div>

                    <div class="form-button">
                        <a href="/users/forgot-password" class="text-help" class="">Esqueceste sua senha?</a><br>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

    <script>
        const form = document.querySelector('form')
        form.addEventListener('submit', async (e) => {
            e.preventDefault()


            const email = document.getElementById('emaillogin').value
            const password = document.getElementById('passwordlogin').value

            const res = await fetch('/users/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }

            })

            res.json().then(result => {
                if (result.error) {
                    console.log(result)
                   return location.assign('/users/login')
                } else {
                    console.log(result)
                    return location.assign('/market')
                }
            }).catch(err => {
                console.log(err)
                return location.assign('/users/login')
            })
        });

    </script>

</body>

</html>