@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@700&display=swap');

.box-market {
    height: 100%
}

nav.navbar {
    background-color: rgba(0, 0, 255, 0.308);
}


.container-fluid {
    padding: 0;
}


html,
body {
    height: 100vmax;
    font-family: 'Montserrat', sans-serif;
}

.pai {
    border: 1px solid red
}


.filho {
    border: 1px solid blue
}

nav a {
    font-weight: bold;
}

.carouselExampleSlidesOnly {
    height: 100px
}


.barraquinha {
    margin: 0;
    padding: 0;
    height: 500px
}

.barraquinha img {
    height: 100%
}

.carousel-item {
    height: 500px
}

.carousel-inner {
    height: 50%
}



.content-box {
    padding: 50px 0;
    background-color: #000;
}


.content-box h2{
    padding-top: 15px
}
.content-box p{
    text-transform: uppercase;
}
.circulo-icon {
    background: #7b7da3;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.349);
    border: 1px solid rgba(0, 0, 0, 0.068);
    color: #fff;
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 13px;
    margin-top: 10px;
    width: 95%;
    height: 90%
}

.stat-items-box{
    border: 1px solid #7b7da3af;
}

.recipes-container h2{
    text-transform: uppercase;
}
.recipes {
    background: linear-gradient(to bottom left, #000, #717396);
    border: 1px solid #000;
    padding-bottom: 60px
}


.recipes .box-recipe .card {
    margin-top: 50px;
    border-radius: 0;
    border: 1px solid rgba(51, 51, 51, 0.418);
    background: #7b7da38f;
}

.box-recipe h5, .box-recipe p, .box-recipe .card-text, .box-recipe .price, .box-recipe .chef-name{
    color: rgba(255, 255, 255, 0.76);
}

.box-recipe .chef-name, .box-recipe h5{
    font-weight: bold;
}

.box-recipe .chef-name{
    color: rgba(255, 255, 255, 0.575);
}

.box-recipe small{
    color: rgba(255, 255, 255, 0.445);
}
.recipes-container {
    margin-top: -20px;
}

.recipes-container h2 {
    margin: 30px 0;
    margin-top: 150px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}

.img-box {
    position: relative;
}

.img-box .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 99, 71, 0.192) 10%, rgb(0, 0, 0));
    opacity: 0;
}

.card:hover .capa {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.price {
    font-weight: bold;
}


.box-jumbotron {
    position: absolute;
    top: 0;
    padding-top: 200px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 99, 71, 0.178) 45%, rgb(0, 0, 0));

}

.text-sub {
    color: rgba(255, 255, 255, 0.507);
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.89);
}

.card-text {
    color: #000
}


footer{
    background-color: #000;
    margin: 0;
    color: rgba(255, 255, 255, 0.459);
    display: flex;
    flex-direction: column;
}

.copyright {
    padding-top: 20px;
    margin-bottom: -5px;
    text-align: center;
}
footer a{
    color: rgb(47, 134, 168);
}

footer a:hover{
    color: rgba(47, 134, 168, 0.534);
}
.redes-sociais a{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0
}
.redes-sociais{
    margin-top: 0;
    text-align: right;
    border-top: 1px solid rgba(255, 255, 255, 0.103);
    padding: 3px 0 10px 0
}

@media screen and (max-width: 288.97px) {
    .recipes-container {
        padding: 30px 0 0 0;
    }

    .redes-sociais{
        width: 90%;
    }
}

#carouselExampleSlidesOnly {
    position: relative;
}

/*Android, Iphone */
@media screen and (max-width: 575.98px) {
    .recipes-container {
        width: 90%
    }

    
    .redes-sociais{
        width: 90%;
    }
}

/* Iphone */
@media screen and (min-width: 576px) and (max-width: 667.98px) {

    .img-box {
        height: 200px;
    }

    .img-box img {
        height: 100%;
        width: 100%
    }

    .recipes-container {
        width: 100%;
        padding: 0;
    }

    .recipes .box-recipe {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .recipes .box-recipe .card {
        width: 47%;
        margin-top: 25px;
    }


    .redes-sociais{
        width: 90%;
    }
}

/* Tablets retrato */
@media screen and (min-width: 668px) and (max-width: 767.98px) {

    .img-box {
        height: 200px;
    }

    .img-box img {
        height: 100%;
        width: 100%
    }

    .recipes-container {
        width: 100%;
        padding: 0;
    }

    .recipes .box-recipe {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .recipes .box-recipe .card {
        width: 47%;
        margin-top: 25px;
    }
}

/* Tablets paisagem */
@media screen and (min-width: 768px) and (max-width: 991.98px) {


    .img-box {
        height: 200px;
    }

    .img-box img {
        height: 100%;
        width: 100%
    }

    .recipes-container {
        width: 100%;
        padding: 0;
        padding-top: 100px
    }

    .recipes .box-recipe {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .recipes .box-recipe .card {
        width: 47%;
        margin-top: 40px;
    }

    .contador-estatistica {
        position: relative;

    }

    .content-box {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: -100px;
        width: 100%;

    }

    .contador-box {
        display: flex;
        justify-content: space-between;
    }

    .stat-items-box {
        width: 30.5%;
    }

}

/* Desktop */
@media screen and (min-width: 992px) and (max-width: 1790.98px) {

    #navbarNav {
        display: flex;
        justify-content: flex-end;
    }

    .img-box {
        height: 300px;
    }

    .img-box img {
        height: 100%;
        width: 100%
    }

    .recipes-container {
        width: 100%;
        padding: 0;
        padding-top: 100px;
    }

    .recipes .box-recipe {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .recipes .box-recipe .card {
        width: 31%;
        margin-top: 50px;
    }

    .contador-estatistica {
        position: relative;
    }

    .content-box {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: -100px;
        width: 100%;

    }

    .contador-box {
        display: flex;
        justify-content: space-between;
    }

    .stat-items-box {
        width: 32%;
    }


}

/* Extra desktop */
@media screen and (min-width: 1800px) {
    #navbarNav {
        display: flex;
        justify-content: flex-end;
    }
    .img-box {
        height: 400px;
    }

    .img-box img {
        height: 100%;
        width: 100%
    }

    .recipes-container {
        width: 100%;
        padding: 0;
        padding-top: 100px;
    }

    .recipes .box-recipe {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

   
    .recipes .box-recipe .card {
        width: 31%;
        margin-top: 50px;
    }

    .contador-estatistica {
        position: relative;

    }

    .content-box {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: -100px;
        width: 100%;

    }

    .contador-box {
        display: flex;
        justify-content: space-between;
    }

    .stat-items-box {
        width: 31%;
    }

}