<!doctype html>
<html lang="pt">

<head>
    <%- include('partials/head')%>
</head>

<body>
    <div class="container-fluid main-box">
        <%- include('partials/header')%>

        <!-- Imagem / banner -->
        <div class="container box-principal">
            <div class="box-principal-left">
                <figure class="figure">
                    <img src="/icon/005-chef-hat-1.png" class="figure-img img-fluid rounded"
                        alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
                </figure>
            </div>
            <div class="box-principal-right">
                <header>
                    <h2>Barraquinha online</h2>
                    <h4>Venha comer à maneira de um Sequelense</h4>
                    <button class="cardapio-button"><a href="/sequelebusinessapp/market" class="">Visualizar cardápio</a></button>

                </header>
            </div>
            
        </div>

        <!-- Footer 
            <footer class="container-fluid">
                <div class="container">
                    <p>&copy; Copyright 2020 | Todos os direitos reservados by <a href="#">Evaristo Paulo</a></p>
                </div>
            </footer>  
            -->
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

</body>

</html>