<footer class="container-fluid">
    <div class="container copyright">
        <p>&copy; Copyright 2020 | Todos os direitos reservados by <a href="#">Evaristo Paulo</a></p>
    </div>
    <div class="redes-sociais container">
        <a href="https://www.facebook.com/evaristodomingospaulo.evaristo" target="_blank" class="mx-1"><img src="/icon/001-facebook.png" class="img-responsive bg-white"></a>
        <a href="https://www.instagram.com/evaristo_tgm/" target="_blank" class=""><img src="/icon/002-instagram.png" class="img-responsive"></a>
    </div>
</footer>