<footer class="container-fluid">
    <div class="container copyright">
        <p>&copy; Copyright 2020 | Todos os direitos reservados by <a href="#">Evaristo Paulo</a></p>
    </div>
    <div class="redes-sociais container">
        <a href="#" class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
</footer>